.{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgb(49, 18, 18)50%,rgb(65, 18, 18)50%);
    background-image: url('../tina/dd.jpg');
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: rgb(161, 220, 22);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: rgb(246, 243, 238);
    font-family: Arial;
    font-weight: bold;
    transform: 0.4s ease-in-out;
}
ul li a:hover{
    color: rgb(59, 163, 17);
}

.search{
    width: 400px;
    float: left;
    margin-left: 370px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(147, 204, 22);
    margin-top: 13px;
    color: rgb(247, 250, 245);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: rgb(161, 206, 25);
    border: 2px rgb(43, 230, 81);
    margin-top: 13px;
    color: rgb(215, 230, 244);
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(233, 244, 229);
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2PX;
    line-height: 30PX;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: rgb(70, 195, 21);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius:10px;
    cursor: pointer;
    transition: .4s easy;

}
.content .cn a{
    text-decoration: none;
    color: rgb(11, 71, 83);
    transition: .3s easy;
}
.cn:hover{
    background-color: rgb(247, 239, 228);
}
.form{
    width: 260px;
    height: 420px;
    background: linear-gradient(to top,rgb(10, 110, 87)50%,rgb(49, 176, 201)50%);
    position: absolute;
    top: 20px;
    left: 675px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(161, 63, 14);
    font-size: 22px;
    background-color: rgb(251, 247, 240);
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(160, 69, 12);
    border-top: none;
    border-right: none;
    border-left: none;
    color: #eff9f8;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}

::placeholder{
    color: rgb(249, 251, 247);
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background-color: rgb(31, 190, 39);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color:rgb(249, 250, 246);
    transition: 0.4s easy;

}
.btnn:hover{
    background: rgb(199, 111, 23);
    color: rgb(70, 198, 34);
}
.btnn a{
    text-decoration: none;
    color: rgb(246, 240, 233);
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: rgb(73, 232, 59);
    font-weight: bold;
    
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: rgb(168, 190, 23);
}
.liw{
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: rgb(238, 241, 244);
}
.icons ion-icon{
    color: rgb(249, 252, 252);
    font-size: 30px;
    padding-left: 15px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: rgb(212, 143, 23);
}






